<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="aui" name="csvWidget" version="0.0.4">
    <details>
        <title>csvWidget</title>
        <homepage>https://github.com/wirecloud-fiware/quick-start-development-tutorial</homepage>
        <authors>Anssi Uistola, Pekka Okkonen</authors>
        <contributors>nope</contributors>
        <email>auistola@univ.yo.oulu.fi</email>
        <image>images/csvIcon.png</image> <!-- 170x80 -->
        <description>Creates .csv file from given json</description>
        <longdescription>README.md</longdescription>
        <license>Apache License 2.0</license>
        <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
        <doc>doc/developer-guide.md</doc>
    </details>
    <contents src="index.html" useplatformstyle="true"/>
	<rendering width="240" height="50%"/>
	
    <wiring>
        <inputendpoint
                name="createCSV"
                label="Creates csv file"
                type="text"/>
    </wiring>	

</widget>
